@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --black: #08090a;
    --rose-quartz: #a7a2a9;
    --seasalt: #f8f8f8;
    --davys-gray: #575a5e;
    --eerie-black: #222823;
}

body {
    background-color: var(--seasalt);
    color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .bg-modal {
        background-color: rgba(
            8,
            9,
            10,
            0.5
        ); /* Using --black with 50% opacity */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}
